---
layout: base.njk
titel: Offline
permalink: /offline/
eleventyExcludeFromCollections: true
---
<div class="forside-intro">
  <h1>Du er offline</h1>
  <p class="manchet">
    Den side er ikke hentet ned endnu. De opskrifter du allerede har set,
    virker stadig – prøv <a href="/">forsiden</a>.
  </p>
</div>
